{
	"account":				"BotAccountName",
	"token":				"xxxxxxxxxxxxxxxx",
	"veto_cp":				75,
	"leela_command":		["./lczero.exe", "-w", "network"],
	"stockfish_command":	["./stockfish.exe"],
	"stockfish_hash":		1024
}
